

  body {
    margin: 0px ,0px, 0px 0px;
    padding-top: 30px;
    background-image: url('uefa2.gif');
    background-repeat:no-repeat;
    /* background-size: 1690px; */
    background-size: cover;
    background-position: 0px;
    /* opacity: 0.7; */
  } 