.e-grid {
    font-family: cursive;
}
.e-grid .e-row:hover .e-rowcell {
    background-color: rgb(82, 12, 174) !important;
}
.e-rowcell {
    background-color: rgb(16, 188, 236);
}
.e-grid .e-row.e-altrow {
    background-color: rgb(14, 209, 209);
}
.e-row {
    background-color: rgb(62, 10, 193);
}


.card {
    background-color: #f7f5f5;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 1500px;
    opacity: 0.3;
  }


body {
    margin: 0px ,0px, 0px 0px;
    padding-top: 10px;
    background-image: url('src/assets/back_img/manchester-city.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    /* background-position: 550px; */
    /* opacity: 0.7; */
  }